<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Actividades</title>
    <link rel="stylesheet" href="/estilo.css">
</head>

<body>
    <div class="container-main">
        <h1>Bitacora de Inspecciones</h1>
        <form action="/bitacora" method="POST">
            <label for="inspector">Nombre del inspector en turno: </label>
            <input type="text" id="inspector" name="inspector" required>
            <label for="fecha">Fecha de revision: </label>
            <input type="date" id="fecha" name="fecha" required>
            <label for="hora">Hora de revision: </label>
            <input type="time" id="hora" name="hora" required>
            <label for="sector">Sector de revision: </label>
            <input type="text" id="sector" name="sector" required>
            <label for="checklist">Punto de control/ Elemento revisado: </label>
            <input type="text" id="checklist" name="checklist" required>
            <label for="observaciones">Observaciones: </label>
            <input type="text" id="observaciones" name="observaciones" required>
            <br>
            <label for="estado">Estado de la revision:</label>
            <input type="radio" id="estadot" name="estado" value="Ok" required> Ok
            <input type="radio" id="estadof" name="estado" value="Fallo" required> Fallo
            <br>
            <label for="seguimiento">Seguimiento requerido?: </label>
            <input type="radio" id="seguimientot" name="seguimientoreq" value="Si" required> Sí
            <input type="radio" id="seguimientof" name="seguimientoreq" value="No" required> No
            <button type="submit">Registrar Actividad</button>
        </form>

        <ul>
            <% bitacora.forEach(function(actividad){ %>
                <li><strong>
                        <%= actividad.checklist %>
                    </strong>
                    <br>
                    (Inspector en turno: <%= actividad.inspector %>, Fecha: <%= new Date(actividad.fecha).toISOString().split('T')[0] %>,
                    Hora de revision: <%= actividad.hora %>,
                    Sector: <%= actividad.sector %>, Observaciones: <%= actividad.observaciones %>, Estado:
                    <%= actividad.estado %>, Seguimiento requerido:
                    <%= actividad.seguimientoreq %>)
                    <br>
                    <hr>
                            <a href="/bitacora/edit/<%= actividad.id %>">Editar</a>
                            <a href="/bitacora/delete/<%= actividad.id %>">Eliminar</a>
                </li>
                <% }); %>
        </ul>
    </div>
</body>

</html>